<div class="container">
  <hr>
  <h4 class="text-center">Book listing</h4>
  <h5 style="color: green" class="text-center">List has {{books.length}} books</h5>

  <table class="table table-hover">
    <thead>
      <th>Book Title</th>
    <th>Author</th>
    <th>Description</th>
    <th colspan="2">Functions</th>
    </thead>
    <tbody>
    <tr *ngFor="let book of books; index as i">
      <td>
        <a [routerLink]="['/book/'+ book.id]">{{book.title}}</a>
      </td>
      <td>
        {{book.author}}
      </td>
      <td>
        {{book.description}}
      </td>
      <td>
        <a class="btn btn-outline-secondary" [routerLink]="['/book/'+ book.id+ '/edit']">EDIT</a>
      </td>
      <td>
        <button class="btn btn-outline-danger" (click)="deleteBook(i)">DELETE</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

